:root {
    --color-fondo-negro: #000000;
    --color-azul-neon: #00ffff; 
    --color-azul-oscuro: #0a0f1f; 
    --color-texto-base: #e0f7ff;
    --brillo-azul: 0 0 8px var(--color-azul-neon);
    --brillo-azul-intenso: 0 0 15px rgba(0, 255, 255, 0.8);
}

body {
    font-family: 'Orbitron', 'Segoe UI', sans-serif;
    background-color: var(--color-azul-oscuro);
    color: var(--color-texto-base);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}


header {
    width: 100%;
    background-color: var(--color-fondo-negro);
    color: var(--color-azul-neon);
    text-align: center;
    padding: 20px 0;
    margin-bottom: 30px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.4);
    border-bottom: 2px solid var(--color-azul-neon);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: bold;
    text-shadow: var(--brillo-azul);
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 2px;
}

header .icon {
    font-size: 2em;
    vertical-align: middle;
    margin-right: 10px;
}


main {
    width: 90%;
    max-width: 600px;
}


.input-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 30px;
}

#inputTarea {
    flex-grow: 1;
    padding: 10px;
    border: 2px solid var(--color-azul-neon);
    background-color: var(--color-fondo-negro);
    color: var(--color-texto-base);
    border-radius: 5px;
    box-shadow: var(--brillo-azul);
    transition: all 0.3s ease;
}

#inputTarea::placeholder {
    color: #666;
}

#inputTarea:focus {
    outline: none;
    box-shadow: var(--brillo-azul-intenso);
}

#agregarBtn {
    padding: 10px 20px;
    background-color: var(--color-azul-neon);
    color: var(--color-fondo-negro);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: var(--brillo-azul);
    transition: all 0.3s;
}

#agregarBtn:hover {
    background-color: #33ffff;
    box-shadow: var(--brillo-azul-intenso);
    transform: scale(1.05);
}


#listaDeTareas {
    list-style: none;
    padding: 0;
}

.tarea-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #02060f;
    border-left: 5px solid var(--color-azul-neon);
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 255, 255, 0.2);
    cursor: pointer;
    transition: all 0.3s;
}

.tarea-item:hover {
    background-color: #081020;
    box-shadow: var(--brillo-azul);
}


.completada {
    text-decoration: line-through;
    color: #444;
    border-left-color: #111;
    box-shadow: none;
}


.eliminar-btn {
    background-color: var(--color-azul-neon);
    color: var(--color-fondo-negro);
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-weight: bold;}